<header id="header" class="clearfix">
  <a href="/" class="logo shadowed">
    CLOUDBASE
  </a>

  <ul class="nav nav-pills pull-right shadowed" id="top-menu">
    <li><a href="#" id="bar-link">Home</a></li>
    <li>  <% if current_user %>
      <%= link_to "Sign out", signout_path, id: "bar-link" %>
      <% else %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "bar-link" %>
      <% end %>

      <!-- <a href="/" id="bar-link">Logout</a></li> -->
  </ul>
<!-- <div class="search">Search:<input type="text" id="search-bar" name="category-fuzzy" value="" style="clear: both;"></div> -->
  <form class="form-inline top-search shadowed">
    <input type="text" id="search-bar" class="form-control" placeholder="Search for anything...">
  </form>
</header>

<div class="row">

  <aside id="leftbar" class="pull-left col-xs-2">
    <div class="sidebar-container">
      <!-- Main Menu -->
      <ul class="side-menu shadowed">
        <li>
          <a href="/" id="sidebar-text"><img src="assets/google.png" height="20" width="20"/>  Google Drive</a>
        </li>
        <li>
          <a href="/" id="sidebar-text"><img src="assets/DropBox.png" height="25" width="20"/> DropBox</a>
        </li>
        <li>
          <a href="/" id="sidebar-text"><img src="assets/box.png" height="20" width="20"/> Box</a>
        </li>
        <li>
          <a href="/" id="sidebar-text"><img src="assets/sugersync.png" height="20" width="20"/> SugarSync</a>
        </li>
        <li>
          <a href="/" id="sidebar-text"><img src="assets/OneDrive.png" height="20" width="20"/> OneDrive</a>
        </li>
        <li>
          <a href="/" id="sidebar-text"><img src="assets/mega.png" height="20" width="20"/> Mega</a>
        </li>
      </ul>
    </div>
    <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
      <i class="icon-angle-right"></i>
    </span>
  </aside>
<div class="container col-xs-6" id="file-background">
  <div id="file-text">
    <div class="col-xs-12 file-name">
      <table id="fileTable" class="tablesorter" cellspacing="100px">
        <thead>
          <tr class="spacer">
            <th id="file-table-name">FILENAME</th>
            <th id="file-table-size">FILE SIZE</th>
            <th id="file-table-added">DATE ADDED</th>
            <th id="file-table-updated">DATE UPDATED</th>
            <th id="file-table-options">OPTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% 30.times do |i|%>
            <tr class="search-item">
              <td id="file-table-name"><a href="#">File_<%= rand(10000..30000) %>.pdf</a></td>
              <td id="file-table-size"><a href="#"><%= rand(50..330) %>mb</a></td>
              <td id="file-table-added"><a href="#"><%= "February #{i}" %></a></td>
              <td id="file-table-updated"><a href="#"><%= Date.today+(10000*rand()) %></a></td>
              <td id="file-table-options"><img src="assets/download.png" height="20" width="20"/><img src="assets/delete.png" height="10" width="10"/></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
